<%= javascript_include_tag "jquery.sparkline.min", :cache => true %>

<h1 class="t2" style="margin: 15px;">Dashboard</h1>

<div>
<span class="ui-corner-all bg3" style="margin: 15px; padding: 5px;">
	<span class="bt1">Rotation</span>
	<select class="bt2" disabled>
		<option>Pediatrics</option>
	</select>
</span>
<span class="ui-corner-all bg3" style="margin: 15px; padding: 5px;">
	<%= link_to image_tag("add.png") + " New Encounter", new_encounter_path, :class => "bt1", :style => "vertical-align:middle;" %>
</span>
</div>

<div class="box1" style="margin: 15px;">
	<div class="box1" style="margin: 15px;">
	<table style="margin: 0px 30px 30px 30px;">
	<h1 class="t3" style="margin-left: 30px;">Pediatrics Encounters: </td></h1>
	<thead>
		<tr>
			<th class="t5 bg6">Encounters</th>
			<th class="t5 bg2" colspan="3">Histories Taken</th>
			<th class="t5 bg2"></th>
			<th class="t5 bg2" colspan="3">Physical Exams</th>
		</tr>
		<tr>
			<th class="t4 bg7" style="text-align: left">Setting</th>
			<th class="t4 bg4">Done</th>
			<th class="t4 bg4">Required</th>
			<th class="t4 bg4">Diff</th>
			<th class="t4 bg4"></th>
			<th class="t4 bg4">Done</th>
			<th class="t4 bg4">Required</th>
			<th class="t4 bg4">Diff</th>
		</tr>	
	</thead>
	<tbody>		
	    <% for status in @statuses do 
		 	cls_rest = cycle("bg5","bg4", :name => 'rest_cols')
		 	cls_col_1 = cycle("bg8","bg7", :name => 'first_col')
		%>
		<tr>
			<td class="b1 <%= cls_col_1 %>"><%= status.care_setting.name %></td>
			<td class="b1 dataright <%= cls_rest %>"><%= status.hx_done %></td>
			<td class="b1 dataright <%= cls_rest %>"><%= status.hx_required %></td>
			<% if status.hx_diff >= 0 %>
			<td class="b1 dataright <%= cls_rest %> pos"><%= status.hx_diff %></td>
			<% else %>
			<td class="b1 dataright <%= cls_rest %> neg"><%= status.hx_diff %></td>
			<% end %>
			<td class="b1 dataright <%= cls_rest %>"></td>
			<td class="b1 dataright <%= cls_rest %>"><%= status.px_done %></td>
			<td class="b1 dataright <%= cls_rest %>"><%= status.px_required %></td>
			<% if status.px_diff >= 0 %>
			<td class="b1 dataright <%= cls_rest %> pos"><%= status.px_diff %></td>
			<% else %>
			<td class="b1 dataright <%= cls_rest %> neg"><%= status.px_diff %></td>
			<% end %>
		</tr>
		<% end %>
		<tr>
			<td class="t4 bg8">Total</td>
			<td class="t4 dataright bg5"><%= @hx_total %></td>
			<td class="t4 dataright bg5"><%= @hx_required_total %></td>
			<% if @hx_diff_total >= 0 %>
			<td class="t4 dataright bg5 pos"><%= @hx_diff_total %></td>
			<% else %>
			<td class="t4 dataright bg5 neg"><%= @hx_diff_total %></td>
			<% end %>
			<td class="t4 bg5"></td>
			<td class="t4 dataright bg5"><%= @px_total %></td>
			<td class="t4 dataright bg5"><%= @px_required_total %></td>
			<% if @px_diff_total >= 0 %>
			<td class="t4 dataright bg5 pos"><%= @px_diff_total %></td>
			<% else %>
			<td class="t4 dataright bg5 neg"><%= @px_diff_total %></td>
			<% end %>
		</tr>
		</tbody>
	</table>
	</div>
	
	<div class="box1" style="margin: 15px;">

		<table  width="150">
		<tr valign="top">
			<td>
				<h1 class="t3" style="margin-left: 30px;">Pediatrics Problems Seen:  <%= @problems.count %></h1>
				<table style="margin: 0px 15px 15px 15px;">
				<thead>
					<tr>
						<th class="t5 bg2">Problems</th>
						<th class="t5 bg2">Count</th>
					</tr>
				</thead>
				<tbody>
				    <% for problem in @problems do 
					 	cls_rest = cycle("bg5","bg4", :name => 'rest_cols')
					 	cls_col_1 = cycle("bg8","bg7", :name => 'first_col')
					%>
					<tr>
						<td class="b1 <%= cls_rest %>"><%= problem["name"] %></td>
						<td class="b1 datacenter <%= cls_rest %>"><%= problem["count"] %></td>
					</tr>
					<% end %>

				</tbody>
			</table>
			</td>

			<td>
				<h1 class="t3" style="margin-left: 30px;">Pediatric Problems Seen by Category</h1>
				<table style="margin: 0px 15px 15px 15px;">
				<thead>
					<tr>
						<th class="t5 bg2">Diagnosis Category</th>
						<th class="t5 bg2">Count</th>
					</tr>
				</thead>
				<tbody>
				    <% for dxbycat in @dx_by_category do 
					 	cls_rest = cycle("bg5","bg4", :name => 'rest_cols')
					 	cls_col_1 = cycle("bg8","bg7", :name => 'first_col')
					%>
					<tr>
						<td class="b1 <%= cls_rest %>"><%= dxbycat["name"] %></td>
						<td class="b1 datacenter <%= cls_rest %>"><%= dxbycat["count"] %></td>
					</tr>
					<% end %>

					</tbody>
				</table>
			</td>

			<td>
				<h1 class="t3" style="margin-left: 30px;">Pediatrics Procedures Observed:  <%= @procedures.count %></h1>
				<table style="margin: 0px 15px 15px 15px;" width="150">
				<thead>
					<tr>
						<th class="t5 bg2">Procedure</th>
						<th class="t5 bg2">Count</th>
					</tr>
				</thead>
				<tbody>
				    <% for procedure in @procedures do 
					 	cls_rest = cycle("bg5","bg4", :name => 'rest_cols')
					 	cls_col_1 = cycle("bg8","bg7", :name => 'first_col')
					%>
					<tr>
						<td class="b1 <%= cls_rest %>"><%= procedure["name"] %></td>
						<td class="b1 datacenter <%= cls_rest %>"><%= procedure["count"] %></td>
					</tr>
					<% end %>

					</tbody>
				</table>
			</td>
		</tr>
		</table>		
	</div>
</div>

<script>
$(function() {
	$('.bullet').sparkline('html', {type: 'bullet', targetColor: '#1A5FAE', targetWidth: '3', performanceColor: '#999999' });
	$('.completed_bullet').sparkline('html', {type: 'bullet', targetColor: 'green', targetWidth: '3', performanceColor: '#999999' });
});
</script>
<style>
.completed_goal {
	background-color: green;	
}
</style>