<%= javascript_include_tag "jquery.sparkline.min", :cache => true %>

<h1 class="t2" style="margin: 15px;">Dashboard</h1>

<div>
<span class="ui-corner-all bg3" style="margin: 15px; padding: 5px;">
	<span class="bt1">Rotation</span>
	<select class="bt2" disabled>
		<option>Pediatrics</option>
	</select>
</span>
<span class="ui-corner-all bg3" style="margin: 15px; padding: 5px;">
	<a class="bt1" href="/encounters/new" style="vertical-align:middle;"><%= image_tag("add.png") %> New Encounter</a>
</span>
</div>

<div class="box1" style="margin: 15px;">
	<div class="box1" style="margin: 15px;">
	<table style="margin: 0px 30px 30px 30px;">
	<h1 class="t3" style="margin-left: 30px;">Pediatrics Encounters: History Taken 27, Physical Exam: 28</h1>
	<thead>
		<tr>
			<th class="t4 bg4"></th>
			<th class="t4 bg4">Done</th>
			<th class="t4 bg4">Required</th>
			<th class="t4 bg4">Diff</th>
			<th class="t4 bg4"></th>
			<th class="t4 bg4">Done</th>
			<th class="t4 bg4">Required</th>
			<th class="t4 bg4">Diff</th>
			<th class="t4 bg4"></th>
		</tr>
	</thead>
	<tbody>
		<% for c in @compliances %>
		<tr>
			<td class="b1 bg5"><%= c.care_setting.name %></td>
			<td class="b1 bg5"><%= c.hx_done %></td>
			<td class="b1 bg5"><%= c.hx_required %></td>
			<td class="b1 bg5">(+1)</td>
			<td class="b1 bg5"></td>
			<td class="b1 bg5">6</td>
			<td class="b1 bg5">6</td>
			<td class="b1 bg5">(0)</td>
			<td class="b1 bg5"></td>
		</tr>
		<%end%>
		<tr>
			<td class="t4 bg4">Total</td>
			<td class="t4 bg4">28</td>
			<td class="t4 bg4">40</td>
			<td class="t4 bg4"></td>
			<td class="t4 bg4"></td>
			<td class="t4 bg4">28</td>
			<td class="t4 bg4">40</td>
			<td class="t4 bg4"></td>
			<td><span class="bullet">28,40</span></td>
		</tr>
		</tbody>
	</table>
	</div>
	
	<div class="box1" style="margin: 15px;">
	<table style="margin: 0px 30px 30px 30px;">
	<h1 class="t3" style="margin-left: 30px;">Pediatrics:Diagnoses: 12</h1>
	<thead>
		<tr>
			<th class="t4 bg4">Encounters</th>
			<th class="t4 bg4">Total</th>
			<th class="t4 bg4">Required</th>
			<th class="t4 bg4">Progress</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="b1 bg5">Inpatient</td>
			<td class="b1 bg5">6</td>
			<td class="b1 bg5">6</td>
			<td><span class="completed_bullet">6,6</span></td>
		</tr>
		<tr>
			<td class="b1 bg5">Outpatient</td>
			<td class="b1 bg5">20</td>
			<td class="b1 bg5">30</td>
			<td><span class="bullet">20,30</span></td>
		</tr>
		<tr>
			<td class="t4 bg4">Total</td>
			<td class="t4 bg4">28</td>
			<td class="t4 bg4">40</td>
			<td><span class="bullet">28,40</span></td>
		</tr>
		</tbody>
	</table>
	</div>
	<div class="box1" style="margin: 15px;">
	<table style="margin: 0px 30px 30px 30px;">
	<h1 class="t3" style="margin-left: 30px;">Pediatrics: Procedures - Observed 8, Performed 4</h1>
	<thead>
		<tr>
			<th class="t4 bg4">Encounters</th>
			<th class="t4 bg4">Total</th>
			<th class="t4 bg4">Required</th>
			<th class="t4 bg4">Progress</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="b1 bg5">Inpatient</td>
			<td class="b1 bg5">6</td>
			<td class="b1 bg5">6</td>
			<td><span class="completed_bullet">6,6</span></td>
		</tr>
		<tr>
			<td class="b1 bg5">Outpatient</td>
			<td class="b1 bg5">20</td>
			<td class="b1 bg5">30</td>
			<td><span class="bullet">20,30</span></td>
		</tr>
		<tr>
			<td class="t4 bg4">Total</td>
			<td class="t4 bg4">28</td>
			<td class="t4 bg4">40</td>
			<td><span class="bullet">28,40</span></td>
		</tr>
		</tbody>
	</table>
	</div>
</div>

<script>
$(function() {
	$('.bullet').sparkline('html', {type: 'bullet', targetColor: '#369', targetWidth: '3', performanceColor: '#AAA' });
	$('.completed_bullet').sparkline('html', {type: 'bullet', targetColor: 'green', targetWidth: '3', performanceColor: '#AAA' });
});
</script>
<style>
.completed_goal {
	background-color: green;	
}
</style>