<h1 class="t2" style="margin: 15px;">My Encounters</h1>

<div>
<span class="ui-corner-all bg3" style="margin: 15px; padding: 5px;">
	<span class="bt1">Clerkship</span>
	<select class="bt2" disabled>
		<option>Pediatrics</option>
	</select>
</span>
<span class="ui-corner-all bg3" style="margin: 15px; padding: 5px;">
	<a class="bt1" href="/encounters/new" style="vertical-align:middle;"><%= image_tag("add.png") %> New Encounter</a>
</span>
</div>

<table id="encList" class="display">
<thead>
  <tr>
    <th></th>
    <th>Clerkship</th>
    <th>Date</th>
    <th>Patient Info</th>
    <th>Problems (Primary in bold)</th>
    <th>Procedures</th>
	<th></th>
  </tr>
</thead>
<tbody>
<% @encounters.each do |encounter| cls = cycle("bg4", "bg5") %>
  <tr class='<%= cls %>' valign="top" align="left">
    <td><a href="encounters/show/<%=h encounter.id %>">View</a></td>
    <td><%=h encounter.clerkship.name %></td>
    <td><%=h encounter.created_at.strftime '%m/%d/%Y' %></td>
    <td><%=h encounter.age %> year old <%=h encounter.gender %></td>
    <td>
		<b><%=h encounter.diagnoses.find_by_dx_type('P').diagnosis.name %></b>
		<% @sdxs = encounter.diagnoses.find_all_by_dx_type('S') %>
		<% if (@sdxs.nil?) then %>
			&nbsp;
		<% else %>
			<% @sdxs.each do |sdx| %>
				, <%= sdx.diagnosis.name %>
			<% end %>
		<% end %>
	</td>
    <td>Lumbar Puncture, IV Placement</td>
	<td valign="middle" align="middle" style="position:relative" nowrap>
		<span id="popup_link_<%=h encounter.id %>"  ><img alt="" src="images/cleardot.gif" class="bluedownarrow"></span>
		<span id="popup_<%=h encounter.id %>" class="ui-widget popupMenu" >
		<ul>
			<li><a href="#">Add Resource</a></li>
			<li><a href="">View Resources</a></li>
			<li><a href="">Clone</a></li>
			<li><a href="#">Delete</a></li>
		</ul>
		</span>
	</td>
  </tr>
  
<script type="text/javascript" charset="utf-8">
$(function() {
	$("span#popup_link_<%=h encounter.id %>").bind('click', function(e) {
		$("#popup_<%=h encounter.id %>").toggle();	
	});
});
</script>

<% end %>

</tbody>

<tfoot>
	<tr>
		<th><input type="text" name="search_1" value="Search this" class="search_init" style="display:none;" /></th>
		<th><input type="text" name="search_clerkship" value="Search this" class="search_init" /></th>
		<th><input type="text" name="search_date" value="Search this" class="search_init" /></th>
		<th><input type="text" name="search_patient" value="Search this" class="search_init" /></th>
		<th><input type="text" name="search_problems" value="Search this" class="search_init" /></th>
		<th><input type="text" name="search_procedures" value="Search this" class="search_init" /></th>
		<th><input type="text" name="search_7" value="Search this" class="search_init" style="display:none;" /></th>
	</tr>
</tfoot>

</table>

<script>
var oTable;
var asInitVals = new Array();
		//"sDom": 'T<"clear">lfrtip',
$(function() {
	TableToolsInit.sSwfPath = "<%= javascript_path 'dataTables/media/swf/ZeroClipboard.swf' %>";
	oTable = $('#encList').dataTable( {
		"oLanguage": {
			"sSearch": "Search all columns:"
		},
		"sDom": 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"if>rt<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"lp>',
		"bJQueryUI": true,
		"aaSorting": [[3,'desc']],
		"aoColumns": [{ "bSortable": false },null,null,null,null,null,{ "bSortable": false }],
		"iDisplayLength": 10,
		"sPaginationType" : "full_numbers"
	} );
	
	$("tfoot input").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, $("tfoot input").index(this) );
	} );

	$("tfoot input").each( function (i) {
		asInitVals[i] = this.value;
	} );
	
	$("tfoot input").focus( function () {
		if ( this.className == "search_init" )
		{
			this.className = "";
			this.value = "";
		}
	} );
	
	$("tfoot input").blur( function (i) {
		if ( this.value == "" )
		{
			this.className = "search_init";
			this.value = asInitVals[$("tfoot input").index(this)];
		}
	} );
	
	$('.popupMenu').hide();

} );
</script>