<div class="yui-ge">

<div class="yui-u first">

<% form_for(@encounter, :html => { :class  => "encounter"} ) do |f| %>
  <%= f.error_messages %>

<fieldset>
  	<p>
    	<%= f.label :encounter_date %><br />
    	<%=h @encounter.encounter_date.strftime("%B %d, %Y") %>
  	</p>
	<p>
    	<%= f.label :clerkship %><br />
    	<%=h @encounter.clerkship.name %>
  	</p>
  	<p>
    	<%= f.label :Clinic %><br />
   	 	<%=h @encounter.clinic.clinic_name %> - <%=h @encounter.clinic.location %>
	</p>
</fieldset>

<fieldset>
	<p>
	    <%= f.label :age %><br />
    	<%=h @encounter.age %>
	</p>
	<p>
    	<%= f.label :gender %><br />
   	 	<%=h @encounter.gender %>
	</p> 
	
	<div style="clear:both"></div>
	
	<p>
		<%= f.label :patient_history %><br />
	  	<%= check_box_tag 'hx', 'P', (@encounter.hx == 'P' || @encounter.hx == 'B'), :disabled => true %> Performed
	  	<%= check_box_tag 'hx', 'O', (@encounter.hx == 'O' || @encounter.hx == 'B'), :disabled => true  %> Observed
	</p>
	<p>
		<%= f.label :physical_exam %><br />
	  	<%= check_box_tag 'px', 'P', (@encounter.px == 'P' || @encounter.px == 'B'), :disabled => true  %> Performed
	  	<%= check_box_tag 'px', 'O', (@encounter.px == 'O' || @encounter.px == 'B'), :disabled => true %> Observed
	</p>
	
	<div style="clear:both"></div>

	<p>
    	<%= f.label :primary_problem %><br />
		<% @encounterDiagnoses.each do |edx| %> 
			<% if (edx.dx_type == 'P') %> 
				<%=h edx.diagnosis.name %><br />
			<% end %>
		<% end %>
	</p>
	<p>
	   	<%= f.label :secondary_problems %><br />
	  	<% @encounterDiagnoses.each do |edx| %>
	  		<% if (edx.dx_type == 'S') %> 
				<%=h edx.diagnosis.name %><br />
			<% end %>
		<% end %>
	</p>


</fieldset>

<fieldset>
	<p>
		<%= f.label :notes %><br />
	  	<%= f.text_area :notes, :size=>"40x1", :class => "ui-widget ui-widget-content ui-corner-all", :tabindex=>130  %>
	</p>
</fieldset>

<% end %>



</div> <!-- end yui-u first -->

<div class="yui-u">

	<div id="rightbar" class="ui-widget ">
	
		<%= render "my_resources" %> 
		
		<%= render "other_resources" %> 
		
	</div>
	
</div> <!-- end yui-u -->

</div> <!-- end yui-ge -->