<div class="yui-gc">

<div class="yui-u first">

<% form_for(@encounter, :html => { :class  => "encounter"} ) do |f| %>
  <%= f.error_messages %>

<% if @user.primary_role == "Student" %>  
<div style="margin-bottom: 10px; float: right;">
<span class="ui-corner-all bg3" style="margin: 15px; padding: 5px;">
	<%= link_to image_tag("edit.png") + " Edit this Encounter", edit_encounter_path(@encounter), :class => "bt1", :style => "vertical-align:middle;" %>
</span>
</div>
<% end %>

<div style="clear:both"></div>


<fieldset class="outline2 bg5">
  	<p>
    	<%= f.label :encounter_date %><br />
	    	<%=h @encounter.encounter_date.strftime("%B %d, %Y") %>
  	</p>
	<p>
    	<%= f.label :clerkship %><br />
    	<%=h @encounter.clerkship.name %>
  	</p>
  	<p>
    	<%= f.label :Clinic %><br />
   	 	<%=h @encounter.clinic.displayname %>
	</p>
</fieldset>

<fieldset class="outline2 bg5">
	<p>
	    <%= f.label :patient_id %>
	    <br />
	    <span id="patient_id" name="patient_id"><%=h @encounter.patient_id %></span>
	</p>
	<p>
	    <%= f.label(:dob, "Date of Birth") %>
	    <br />
	    <span id="dob" name="dob"><%=h @encounter.dob.strftime("%B %d, %Y") %></span>
	</p>
	<p>
    	<%= f.label :gender %><br />
   	 	<%=h @encounter.gender %>
	</p> 
	
	<div style="clear:both"></div>
	
	<p>
		<%= f.label :patient_history %><br />
	  	<%= check_box_tag 'hx', 'P', (@encounter.hx == 'P' || @encounter.hx == 'B'), :disabled => true %> Performed
	  	<%= check_box_tag 'hx', 'O', (@encounter.hx == 'O' || @encounter.hx == 'B'), :disabled => true  %> Observed
	</p>
	<p>
		<%= f.label :physical_exam %><br />
	  	<%= check_box_tag 'px', 'P', (@encounter.px == 'P' || @encounter.px == 'B'), :disabled => true  %> Performed
	  	<%= check_box_tag 'px', 'O', (@encounter.px == 'O' || @encounter.px == 'B'), :disabled => true %> Observed
	</p>
	
	<div style="clear:both"></div>

	<p>
    	<%= f.label :primary_problem %><br />
		<% @encounterDiagnoses.each do |edx| %> 
			<% if (edx.dx_type == 'P') %>
				<% if (edx.diagnosis.name == 'Other') %> 
					<%=h edx.other %><br />
				<% else %>
					<%=h edx.diagnosis.name %><br />
				<% end %>
			<% end %>
		<% end %>
	</p>
	<p>
	   	<%= f.label :secondary_problems %><br />
	  	<% @encounterDiagnoses.each do |edx| %>
	  		<% if (edx.dx_type == 'S') %> 
				<% if (edx.diagnosis.name == 'Other') %> 
					<%=h edx.other %><br />
				<% else %>
					<%=h edx.diagnosis.name %><br />
				<% end %>
			<% end %>
		<% end %>
	</p>
	
	<div style="clear:both"></div>

	<p>
	   	<%= f.label :procedures_observed %><br />
	  	<% @encounterProcedures.each do |ep| %>
	  		<% if (ep.participation_type == 'O') %> 
	  			<% if (ep.procedure.name == 'Other') %> 
					<%=h ep.other %><br />
				<% else %>
					<%=h ep.procedure.name %><br />
				<% end %>
			<% end %>
		<% end %>
	</p>


</fieldset>

<fieldset class="outline2 bg5">
	<p>
		<%= f.label :notes %>
		<div class="edit_area" id="notes" name="notes"><%=h @encounter.notes %></div>
	</p>
</fieldset>

<% end %>



</div> <!-- end yui-u first -->

<div class="yui-u">

	<div id="rightbar" class="ui-widget ">
	
		<%= render "my_resources" %> 
		
		<div class="rightbar_header ui-widget-content ui-state-highlight ui-corner-all">
			<span class="ui-icon ui-icon-suitcase" style="float: left; margin-right: 0.3em;"></span>
			<strong>Related Resources</strong>
		</div>
		<div class="rightbar_section">
			<ul id="rightbar_resources" class="rightbar_list">
				<% if not @rel_resources.nil? %>
				<%= render :partial => "resource", :collection => @rel_resources, :as => :resource %>
				<% end %>		
			</ul>
		</div>
	</div>
	
</div> <!-- end yui-u -->

</div> <!-- end yui-ge -->

<script>
$(function() {
	$('.edit_area').each(function(i) {
		<%url = url_for :controller => "encounters", :action => "inplaceupdate"%>
	  	$(this).editable('<%= url %>/<%= @encounter.id %>', {
	    	type	:		'textarea',
	    	cancel	:	'Cancel',
	    	submit	:	'OK',
	    	indicator:	'Saving...',
	    	tooltip	:	'Click to edit...',
	    	submitdata:	function(value, settings) {return {_method: "put", authenticity_token: AUTH_TOKEN, field: $(this).attr('id')}; },
	    	rows:		4
	  	});
	});
});
</script>