<div class="yui-ge">

<div class="yui-u first">

<% form_for(@encounter, :html => { :class  => "encounter"} ) do |f| %>
  <%= f.error_messages %>

<fieldset>
  	<p>
    	<%= f.label :encounter_date %><br />
    	<%=h @encounter.encounter_date.strftime("%B %d, %Y") %>
  	</p>
	<p>
    	<%= f.label :clerkship %><br />
    	<%=h @encounter.clerkship.name %>
  	</p>
  	<p>
    	<%= f.label :Clinic %><br />
   	 	<%=h @encounter.clinic.clinic_name %> - <%=h @encounter.clinic.location %>
	</p>
</fieldset>

<fieldset>
	<p>
	    <%= f.label :age %><br />
    	<%=h @encounter.age %>
	</p>
	<p>
    	<%= f.label :gender %><br />
   	 	<%=h @encounter.gender %>
	</p> 
	
	<div style="clear:both"></div>
	
	<p>
		<%= f.label :patient_history %><br />
	  	<%= check_box_tag 'hx', 'P', (@encounter.hx == 'P' || @encounter.hx == 'B'), :disabled => true %> Performed
	  	<%= check_box_tag 'hx', 'O', (@encounter.hx == 'O' || @encounter.hx == 'B'), :disabled => true  %> Observed
	</p>
	<p>
		<%= f.label :physical_exam %><br />
	  	<%= check_box_tag 'px', 'P', (@encounter.px == 'P' || @encounter.px == 'B'), :disabled => true  %> Performed
	  	<%= check_box_tag 'px', 'O', (@encounter.px == 'O' || @encounter.px == 'B'), :disabled => true %> Observed
	</p>
	
	<div style="clear:both"></div>

	<p>
    	<%= f.label :primary_problem %><br />
		<% @encounterDiagnoses.each do |edx| %> 
			<% if (edx.dx_type == 'P') %> 
				<%=h edx.diagnosis.name %><br />
			<% end %>
		<% end %>
	</p>
	<p>
	   	<%= f.label :secondary_problems %><br />
	  	<% @encounterDiagnoses.each do |edx| %>
	  		<% if (edx.dx_type == 'S') %> 
				<%=h edx.diagnosis.name %><br />
			<% end %>
		<% end %>
	</p>


</fieldset>

<fieldset>
	<p>
		<%= f.label :notes %><br />
	  	<%= f.text_area :notes, :size=>"40x1", :class => "ui-widget ui-widget-content ui-corner-all", :tabindex=>130  %>
	</p>
</fieldset>

<% end %>



</div> <!-- end yui-u first -->

<div class="yui-u">

	<div id="rightbar" class="ui-widget ">
	
	<!--
		<div class="rightbar_header ui-widget-content ui-state-highlight ui-corner-all">
			<span class="ui-icon ui-icon-note" style="float: left; margin-right: 0.3em;"></span>
			<strong>Writeups</strong>
		</div>
		<div class="rightbar_section">
			<ul id="rightbar_writeups" class="rightbar_list">
				<li><a href="/encounters/writeup/1">Writeup</a></li>
			</ul>
			<div id="request_writeup_div">
				<span id="request_feedback" class="button">Send Writeup</span>
				<form id="request_feedback_form">
					<input type="hidden" name="writeup_id" value="1" />
					<label class="add_form_label">To:</label>
					<br/> 
					<input type="text" id="notify_input" />
					<br />
					<label class="add_form_label">Message (optional)</label>
					<textarea rows="3" style="width: 95%;" id="notify_textarea" name="notify_textarea"></textarea>
				</form>
			</div>
			
<script>
	var notify_data = {faculty: [
    	{value: "1", name: "Mick Jagger"},
    	{value: "2", name: "Jennifer Christener"},
    	{value: "3", name: "Jocelyn Schiller"},
   	 	{value: "4", name: "Cyril Grum"}
	]};
	$(function() {
		$("#request_feedback_form").dialog({
			title: 'Request Feedback',
			autoOpen: false,
			height: 300,
			width: 450,
			modal: true,
			buttons: {
				'Request Feedback': function() {
					$(this).dialog('close');
				},
				'Cancel': function() {
					$(this).dialog('close');
				}
			}
		});
		$('#request_feedback')
			.button()
			.click(function() {
				$('#request_feedback_form').dialog('open');
		});
		$("#notify_input").autoSuggest(notify_data.faculty, {selectedItemProp: "name", searchObjProps: "name"});
		$('#notify_textarea').autoResize();
	});
</script>

		</div>
		-->
		<div class="rightbar_header ui-widget-content ui-state-highlight ui-corner-all">
			<span class="ui-icon ui-icon-folder-open" style="float: left; margin-right: 0.3em;"></span>
			<strong>My Resources</strong>
		</div>
		<div class="rightbar_section">
			<ul id="rightbar_artifacts" class="rightbar_list">
				<li><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2871548/pdf/GRP2010-526486.pdf">Resource 1</a> 
					<span class="action_menu">
						<a href="/resources/show/1" class="iconlink show_resource_details" title="Resource Title">View Details</a>
						<a href="#" class="iconlink">More</a>
					</span>
				</li>
				<li><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2871548/pdf/GRP2010-526486.pdf">Resource 2</a> 
					<span class="action_menu">
						<a href="/resources/show/1" class="iconlink show_resource_details" title="Resource Title">View Details</a>
						<a href="#" class="iconlink">More</a>
					</span>
				</li>
			</ul>
			<span id="add_artifact" class="button" title="Add a Resource">Add Resource</span>
				
	<form method="post" enctype="multipart/form-data" action="#" class="form" id="add_artifact_form">
	<table>
		<tr>
			<th><label>From:</label></th>
			<td>
				<input type="radio" id="local" name="res_from" class="from" value="local" /> Your Computer 
				<br> 
				<input type="radio" id="remote" name="res_from" class="from" value="remote" /> Internet link
			</td>
		</tr>
		<tr class="hide" id="from_local">
			<th><label>Upload File:</label></th>
			<td><input type="file" name="filename" size="30" /></td>
		</tr>
		<tr class="hide" id="from_remote">
			<th>Enter a link:</th>
			<td><input type="text" name="url" size="25" /></td>
		</tr>
		<tr>
			<th>Title</th>
			<td><input type="text" name="title" id="title" validation="required" size="31" /></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><textarea name="description" id="artifact_description" style="width:100%"></textarea></td>
		</tr>
		<tr>
			<th>Privacy Settings</th>
			<td><select><option>Only I can view</option><option>Everybody can view</option></select></td>
		</tr>
		<tr>
			<th>Tagged With</th>
			<td>Cardiovascular Problem</td>
		</tr>
	</table>

<div class="error"></div>

<script>
	$(function() {
		$("#add_artifact_form").dialog({
			title: 'Add a Resource',
			autoOpen: false,
			height: 400,
			width: 550,
			modal: true,
			buttons: {
				'Save Resource': function() {
					$(this).dialog('close');
				},
				'Cancel': function() {
					$(this).dialog('close');
				}
			}
		});
		$('#add_artifact')
			.button()
			.click(function() {
				$('#add_artifact_form').dialog('open');
		});
		$('#artifact_description').autoResize();
		$('.hide').hide();
		$('.from').change(function(e) {
			$('.hide').hide();
			$('#from_'+$(this).val()).toggle();
		});
	});
</script>
</form>

		</div>
		
		<div class="rightbar_header ui-widget-content ui-state-highlight ui-corner-all">
			<span class="ui-icon ui-icon-suitcase" style="float: left; margin-right: 0.3em;"></span>
			<strong>Related Resources</strong>
		</div>
		<div class="rightbar_section">
			<ul id="rightbar_resources" class="rightbar_list"></ul>
		</div>
		
	</div>
	
</div> <!-- end yui-u -->

</div> <!-- end yui-ge -->