<div class="yui-gf">

<div class="yui-u first">

	<h3 class="b2 bg2 filter_header">Filter Resources By User:</h3>
	<ul id="resources" class="filter_list">
		<li class="bg4"><a class="user_filter" href="#" title="">All Resources <span class="ui-icon ui-icon-triangle-1-e" style="float:right;"></span></a></li>
		<li class="bg5"><a class="user_filter" href="#" title="Faculty"> Faculty Resources <span class="ui-icon ui-icon-triangle-1-e" style="float:right;"></span></a></li>
		<li class="bg4"><a class="user_filter" href="#" title="Michael Bleed"> My Resources <span class="ui-icon ui-icon-triangle-1-e" style="float:right;"></span></a></li>
	</ul>
	
	<h3 class="b2 bg2 filter_header">Filter Resources By Problem:</h3>
	<ul id="resources" class="filter_list">
		<li class="bg4"><a class="category_filter" href="#" id="" title=""></span> All Problems </a><span class="ui-icon ui-icon-triangle-1-e" style="float:right;"></span></li>
		<% @dxcs.each do |dxc| cls = cycle("bg5", "bg4") %>
		<li class="<%= cls %>"><a class="category_filter" href="#" id="<%=h dxc.id %>" title="<%=h dxc.name %>"><span id="category_filter_img_<%=h dxc.id %>" class="ui-icon ui-icon-triangle-1-e" style="float:left;"></span> <%=h dxc.name %></a>
			<ul class="diagnoses_list filter_list" id="diagnoses_list_<%=h dxc.id %>">
				<% dxc.diagnoses.each do |dx| %>
				<li><a class="diagnosis_filter" href="#" title="<%=h dx.name %>"><%=h dx.name %><span class="ui-icon ui-icon-triangle-1-e" style="float:right;"></span></a></li>
				<% end %>
			</ul>
		</li>
		<% end %>
	</ul>

</div> <!-- end yui-u first -->

<div class="yui-u">

	<div id="resource_grid">
	<table id="resourceList" class="display">
	<thead>
	  <tr>
		<th>Category</th>
		<th>Problem</th>
	    <th>Title</th>
	   	<th>Rating</th>
	    <th>From</th>
	    <th>Date</th>
	    <th>Who Can View?</th>
	  	<th></th>
	  </tr>
	</thead>
	<tbody>
	
	<% @resources.each do |resource| cls = cycle("bg4", "bg5") 
			tag = resource.resource_instances.last.tag
			tag_id = resource.resource_instances.last.tag_id
			if (tag == 'dx') then 
				tag_text = Diagnosis.find(tag_id).name 
				category_text = DiagnosisCategory.find(Diagnosis.find(tag_id).category_id).name
			end
			if (tag == 'encounters') then tag_text = 'Encounter' end
			if (tag == 'procedures') then tag_text = Procedure.find(tag_id).name end
			ri = resource.resource_instances.last;
	%>
	  <tr class='<%= cls %>' valign="top" align="left">
		<td><%= category_text %></td>
		<td><%= tag_text %></td>
	    <td><a href="<%= (resource.filelocation == 'remote' && resource.url[0,4] != 'http') ? 'http://'+resource.url : resource.url %>"><%=h ri.title %></a></td>
	    <td nowrap="nowrap">
	    <div class="entry">
			<span id="votes_count_<%=h resource.id %>" class="votes_count"><%=h resource.score.to_i %></span>
			<span id="vote_buttons" class="vote_buttons">
				<a id="vote_up_<%=h resource.id %>" class="vote_up" href="#" title="This resource is useful and clear (click again to undo)">Vote Up!</a>
				<a id="vote_down_<%=h resource.id %>" class="vote_down" href="#" title="This resource is unclear or not useful (click again to undo)">Vote Down!</a>
			</span>
		</div>
	    </td>
	    <td>
	    	<% @By = User.find(ri.created_by) %>
	    	<%=h @By.firstname %> <%=h @By.lastname %>
	     </td>
	    <td><%=h ri.created_at.strftime '%m/%d/%Y' %></td>
	    <td>Privacy</td>
	    <td></td>
	  </tr>

	<% end %>	
	
	</tbody>

	</table>
	</div>

	<script>
	var oTable;
	var asInitVals = new Array();
			//"sDom": 'T<"clear">lfrtip',
	$(function() {
		oTable = $('#resourceList').dataTable( {
			"oLanguage": {
				"sSearch": "Search all columns:"
			},
			"sDom": '<"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"if>rt<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"lp>',
			"bJQueryUI": true,
			"aaSorting": [[3,'desc']],
			"aoColumns": [{ "bVisible": false },{ "bVisible": false },null,null,null,null,null,{ "bSortable": false }],
			"iDisplayLength": 10,
			"sPaginationType" : "full_numbers"
		} );
		
		$(".category_filter").click( function (e) {
			e.preventDefault();
			var val = this.title;
			var dxcid = this.id;
			oTable.fnFilter("",1,false);
			oTable.fnFilter( val, 0 );
			
			if ($('#category_filter_img_'+dxcid).hasClass('ui-icon-triangle-1-e') ) {
				$('#category_filter_img_'+dxcid).removeClass("ui-icon-triangle-1-e");
	    		$('#category_filter_img_'+dxcid).addClass("ui-icon-triangle-1-s");
			} else {
				$('#category_filter_img_'+dxcid).removeClass("ui-icon-triangle-1-s");
	    		$('#category_filter_img_'+dxcid).addClass("ui-icon-triangle-1-e");
			}
			$("#diagnoses_list_"+dxcid).toggle();
		} );
		
		$(".diagnosis_filter").click( function (e) {
			e.preventDefault();
			var val = this.title;
			oTable.fnFilter("",0,false);
			oTable.fnFilter( val, 1 );
		} );

		$(".diagnoses_list").hide();
		
		$(".user_filter").click( function (e) {
			e.preventDefault();
			var val = this.title;
			oTable.fnFilter( val, 4 );
		} );
		
		$('.vote_up').click(function(e) {
			e.preventDefault();
			var vote_up_id = this.id.substring(8);
			$.ajax({
				url: '/resources/up_vote/'+vote_up_id,
				dataType: 'script',
				success: function(data) {
					$('#votes_count_'+vote_up_id).html(data);
				}	
			});
		} );
		
		$('.vote_down').click(function(e) {
			e.preventDefault();
			var vote_down_id = this.id.substring(10);
			$.ajax({
				url: '/resources/down_vote/'+vote_down_id,
				dataType: 'script',
				success: function(data) {
					$('#votes_count_'+vote_down_id).html(data);
				}	
			});
		} );
	} );
	</script>
	
	<style>
	.filter_list {
		margin-left: 25px;
	}
	.filter_list li {
		padding: 6px 12px;
	}
	.filter_header {
		margin-left: 25px;
		padding: 4px;
		font-size: 122%;		
	}
	</style>	
	
</div> <!-- end yui-u -->

</div> <!-- end yui-ge -->