<div class="yui-gf">

<div class="yui-u first">

	<ul id="resources" class="filter_list">
		<% @dxcs.each do |dxc| cls = cycle("bg4", "bg5") %>
		<li class="<%= cls %>"><a class="category_filter" href="#" id="<%=h dxc.id %>" title="<%=h dxc.name %>"><span id="category_filter_img_<%=h dxc.id %>" class="ui-icon ui-icon-triangle-1-e" style="float:left;"></span> <%=h dxc.name %></a>
			<ul class="diagnoses_list filter_list" id="diagnoses_list_<%=h dxc.id %>">
				<% dxc.diagnoses.each do |dx| %>
				<li><a class="diagnosis_filter" href="#" title="<%=h dx.name %>"><span class="ui-icon ui-icon-triangle-1-e" style="float:left;"></span><%=h dx.name %></a></li>
				<% end %>
			</ul>
		</li>
		<% end %>
	</ul>

</div> <!-- end yui-u first -->

<div class="yui-u">

	<div id="resource_grid">
	<table id="resourceList" class="display">
	<thead>
	  <tr>
	    <th></th>
		<th>Category</th>
		<th>Problem</th>
	    <th>Title</th>
	    <th>Rating</th>
	  </tr>
	</thead>
	<tbody>
		<!--
	<% @resources.each do |resource| cls = cycle("bg4", "bg5") %>
	  <tr class='<%= cls %>' valign="top" align="left">
	    <td><a href="resource/show/<%=h resource.id %>">View</a></td>
		<td>Category</td>
		<td>Problem</td>
	    <td>Title</td>
	    <td><%=h resource.score %></td>
	  </tr>

	<% end %>
-->
	<tr>
		<td>View</td>
		<td>Behavior Problems</td>
		<td>Anxiety</td>
		<td>Title of Resource 1</td>
		<td>8</td>
	</tr>
	<tr>
		<td>View</td>
		<td>Behavior Problems</td>
		<td>Anxiety</td>
		<td>Title of Resource 2</td>
		<td>4</td>
	</tr>
	<tr>
		<td>View</td>
		<td>Behavior Problems</td>
		<td>Depression</td>
		<td>Title of Resource 3</td>
		<td>9</td>
	</tr>
	<tr>
		<td>View</td>
		<td>Behavior Problems</td>
		<td>Bulimia</td>
		<td>Title of Resource 4</td>
		<td>8</td>
	</tr>
	<tr>
		<td>View</td>
		<td>Dermatology</td>
		<td>Acne</td>
		<td>Title of Resource 5</td>
		<td>2</td>
	</tr>
	<tr>
		<td>View</td>
		<td>Dermatology</td>
		<td>Warts</td>
		<td>Title of Resource 6</td>
		<td>5</td>
	</tr>
	<tr>
		<td>View</td>
		<td>Chronic Medical Problem</td>
		<td>Bruxism</td>
		<td>Title of Resource 7</td>
		<td>18</td>
	</tr>
	
	
	</tbody>

	</table>
	</div>

	<script>
	var oTable;
	var asInitVals = new Array();
			//"sDom": 'T<"clear">lfrtip',
	$(function() {
		TableToolsInit.sSwfPath = "<%= javascript_path 'dataTables/media/swf/ZeroClipboard.swf' %>";
		oTable = $('#resourceList').dataTable( {
			"oLanguage": {
				"sSearch": "Search all columns:"
			},
			"sDom": 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"if>rt<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"lp>',
			"bJQueryUI": true,
			"aaSorting": [[1,'desc']],
			"aoColumns": [{ "bSortable": false },{ "bVisible": false },{ "bVisible": false },null,null],
			"iDisplayLength": 10,
			"sPaginationType" : "full_numbers"
		} );
		
		$(".category_filter").click( function (e) {
			e.preventDefault();
			var val = this.title;
			var dxcid = this.id;
			oTable.fnFilter( val, 1 );
			
			if ($('#category_filter_img_'+dxcid).hasClass('ui-icon-triangle-1-e') ) {
				$('#category_filter_img_'+dxcid).removeClass("ui-icon-triangle-1-e");
	    		$('#category_filter_img_'+dxcid).addClass("ui-icon-triangle-1-s");
			} else {
				$('#category_filter_img_'+dxcid).removeClass("ui-icon-triangle-1-s");
	    		$('#category_filter_img_'+dxcid).addClass("ui-icon-triangle-1-e");
			}
			$("#diagnoses_list_"+dxcid).toggle();
		} );
		
		$(".diagnosis_filter").click( function (e) {
			e.preventDefault();
			var val = this.title;
			oTable.fnFilter( val, 2 );
		} );

		$(".diagnoses_list").hide();
	} );
	</script>
	
	<style>
	.filter_list {
		margin-left: 25px;
	}
	.filter_list li {
		padding: 6px 12px;
	}
	</style>	
	
</div> <!-- end yui-u -->

</div> <!-- end yui-ge -->