<div class="yui-gc">

<div class="yui-u first">

<% form_for(@feedback, :html => { :class  => "encounter"} ) do |f| %>
  <%= f.error_messages %>

<fieldset class="outline2 bg5">
	<p>
    	<%= f.label :created_by %><br />
    	<%=h @feedback.creator.fullname %>
  	</p>
	<p>
    	<%= f.label :created_at %><br />
    	<%=h @feedback.created_at.strftime("%B %d, %Y") %>
  	</p>
</fieldset>
<fieldset class="outline2 bg5">
  	<p>
    	<%= f.label :subject %><br />
	    	<%=h @feedback.subject %>
  	</p>
	<div style="clear:both"></div>
  	<p>
    	<%= f.label :body %><br />
   	 	<%=h @feedback.body %>
	</p>
</fieldset>
<% end %>

</div> <!-- end yui-u first -->

<div class="yui-u">
</div> <!-- end yui-u -->

</div> <!-- end yui-ge -->

<script>
$(function() {
});
</script>