<%= render "toolbar" %>

<div class="box1" style="margin: 15px;">
<h1 class="t3">	Compliance Requirements Table</h1>

<table  id="encList" class="display">
	<thead>
		<tr>
<!-- "CareSetting", c.clinic_name AS  "ClinicName", c.code AS  "Code", c.location AS  "Location", c.phone AS  "Phone", c.contact AS  "Contact" -->
			<th class="t4 bg4">Clerkship</th>
			<th class="t4 bg4">Care Setting</th>
			<th class="t4 bg4">Histories Req.</th>
			<th class="t4 bg4">Physical Req.</th>
		</tr>
	</thead>
	<tbody>
	    <% for reportline in @reportlinearray do 
		 	cls_rest = cycle("bg5","bg4", :name => 'rest_cols')
		 	cls_col_1 = cycle("bg8","bg7", :name => 'first_col')
		
			ActiveRecord::Base.logger.debug "@reportline: #{@reportline}"
		%>
		<tr>
			<td class="b1 <%= cls_rest %>"> <%= Clerkship.find_by_id(reportline.clerkship_id).name %> </td>
			<td class="b1 <%= cls_rest %>"> <%= CareSetting.find_by_id(reportline.care_setting_id).name %> </td>
			<td class="b1 <%= cls_rest %>"> <%= reportline.hx_required %> </td>
			<td class="b1 <%= cls_rest %>"> <%= reportline.px_required %> </td>
		</tr>
		<% end %>

		</tbody>

</table>
</div>

<script>
var oTable;
var asInitVals = new Array();
		//"sDom": 'T<"clear">lfrtip',
$(function() {
	TableToolsInit.sSwfPath = "<%= javascript_path 'dataTables/media/swf/ZeroClipboard.swf' %>";
	oTable = $('#encList').dataTable( {
		"oLanguage": {
			"sSearch": "Search all columns:"
		},
		"sDom": 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"if>rt<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"lp>',
		"bJQueryUI": true,
		"bPaginate": true,
		"aaSorting": [[0,"asc"]],
		"aoColumns": [null,null,null,null,],
		"iDisplayLength": 10,
		"sPaginationType" : "full_numbers"
	} );
	
	$("tfoot input").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, $("tfoot input").index(this) );
	} );

	$("tfoot input").each( function (i) {
		asInitVals[i] = this.value;
	} );
	
	$("tfoot input").focus( function () {
		if ( this.className == "search_init" )
		{
			this.className = "";
			this.value = "";
		}
	} );
	
	$("tfoot input").blur( function (i) {
		if ( this.value == "" )
		{
			this.className = "search_init";
			this.value = asInitVals[$("tfoot input").index(this)];
		}
	} );

} );
</script>
