<%= render "toolbar" %>

<div class="box1" style="margin: 15px;">
<h1 class="t3">	Individual Diagnoses Per Site</h1>

<table  id="encList" class="display">
<thead>
	<% fields = @reportarray[0] %>
	<tr>
		<th class="t5 bg2" colspan="3">Site</th>
		<th class="t5 bg2" colspan=" <%= fields.size - 3 %> ">Diagnoses</th>
	</tr>
	<tr>
	    <% fields.each do |fieldname|%>
		<th class="t4 bg4" css_right> <%= fieldname %></th>
		<% end %>

	</tr>
</thead>
<tbody>
     <% rows = @reportarray[1]
		for arow in rows do 
	 	cls_rest = cycle("bg5","bg4", :name => 'rest_cols')
	 	cls_col_1 = cycle("bg8","bg7", :name => 'first_col')
	%>
	<tr>	
		<!-- The following two lines of Ruby are to pop off the last 
		two elements which contain the first name and last name -->			 
		<td class="b1 <%= cls_col_1 %>">	<%= arow.shift %> </td>
		<td class="b1 <%= cls_col_1 %>">	<%= arow.shift %> </td>
			
		<% 	for aval in arow do %>
		<td class="b1 <%= cls_rest %>"> <%= aval %></td>
		<% end %>
	</tr>
	<% end %>

</tbody>

</table>
</div>

<script>
var oTable;
var asInitVals = new Array();
		//"sDom": 'T<"clear">lfrtip',
$(function() {
	TableToolsInit.sSwfPath = "<%= javascript_path 'dataTables/media/swf/ZeroClipboard.swf' %>";
	oTable = $('#encList').dataTable( {
		"oLanguage": {
			"sSearch": "Search all columns:"
		},
		"sDom": 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"if>rt<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"lp>',
		"bJQueryUI": true,
		"bPaginate": true,
		"aaSorting": [[2,"desc"]],
		"aoColumns": [null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null],
		"iDisplayLength": 10,
		"sPaginationType" : "full_numbers"
	} );
	
	$("tfoot input").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, $("tfoot input").index(this) );
	} );

	$("tfoot input").each( function (i) {
		asInitVals[i] = this.value;
	} );
	
	$("tfoot input").focus( function () {
		if ( this.className == "search_init" )
		{
			this.className = "";
			this.value = "";
		}
	} );
	
	$("tfoot input").blur( function (i) {
		if ( this.value == "" )
		{
			this.className = "search_init";
			this.value = asInitVals[$("tfoot input").index(this)];
		}
	} );

} );
</script>
