<div class="box1" style="margin: 15px;">
<table style="margin: 0px 30px 30px 30px;">
<h1 class="t3" style="margin-left: 30px;">	Encounters by Care Setting.
</h1>
<thead>
	<tr>
		<th class="t5 bg2">Student</th>
		<th class="t5 bg2">In-Patient</th>
		<th class="t5 bg2">Out-Patient</th>
		<th class="t5 bg2">Newborn</th>
		<th class="t5 bg2">Emergency</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td class="b1 bg4">	<%= @reportline["Username"] %> </td>
		<td class="b1 bg4">	<%= @reportline["Inpatient"] %> </td>
		<td class="b1 bg4">	<%= @reportline["Outpatient"] %> </td>
		<td class="b1 bg4">	<%= @reportline["Newborn"] %> </td>
		<td class="b1 bg4">	<%= @reportline["Emergency"] %> </td>
	</tr>
	</tbody>
</table>
</div>
