<%= render "toolbar" %>

<div class="box1" style="margin: 15px;">
<table id="encList">
<h1 class="t3">Diagnoses Observed vs Performed Per Site</h1>
<thead>
	<tr>
		<th class="t5 bg2" colspan="3">Clinic</th>
		<th class="t5 bg2" colspan="2">hx</th>
		<th class="t5 bg2" colspan="2">px</th>
	</tr>
	<tr>
		<th class="t4 bg4">Care<br />Setting</th>
		<th class="t4 bg4">Name</th>
		<th class="t4 bg4">Location</th>
		<th class="t4 bg4">Observed</th>
		<th class="t4 bg4">Performed</th>
		<th class="t4 bg4">Observed</th>
		<th class="t4 bg4">Performed</th>
	</tr>
</thead>

<tbody>
    <% for reportline in @reportlinearray do 
	 	cls_rest = cycle("bg5","bg4", :name => 'rest_cols')
	 	cls_col_1 = cycle("bg8","bg7", :name => 'first_col')
	%>
	<tr>
		<td class="b1 <%= cls_col_1 %>">	<%= reportline["CareSetting"] %> </td>
		<td class="b1 <%= cls_col_1 %>">	<%= reportline["ClinicName"] %> </td>
		<td class="b1 <%= cls_col_1 %>">	<%= reportline["Location"] %> </td>
		<td class="b1 datacenter <%= cls_rest %>">		<%= reportline["hxObserved"] %> </td>
		<td class="b1 datacenter <%= cls_rest %>">		<%= reportline["hxPerformed"] %> </td>
		<td class="b1 datacenter <%= cls_rest %>">		<%= reportline["pxObserved"] %> </td>
		<td class="b1 datacenter <%= cls_rest %>">		<%= reportline["pxPerformed"] %> </td>
	</tr>
 	<% end %>

</tbody>

</table>
</div>

<script>
var oTable;
var asInitVals = new Array();
		//"sDom": 'T<"clear">lfrtip',
$(function() {
	TableToolsInit.sSwfPath = "<%= javascript_path 'dataTables/media/swf/ZeroClipboard.swf' %>";
	oTable = $('#encList').dataTable( {
		"oLanguage": {
			"sSearch": "Search all columns:"
		},
		"sDom": 'T<"clear"><"fg-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"if>rt<"fg-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"lp>',
		"bJQueryUI": true,
		"aaSorting": [[2,'desc']],
		"aoColumns": [{ "bSortable": false },null,null,null,null,null,null],
		"iDisplayLength": 10,
		"sPaginationType" : "full_numbers"
	} );
	
	$("tfoot input").keyup( function () {
		/* Filter on the column (the index) of this element */
		oTable.fnFilter( this.value, $("tfoot input").index(this) );
	} );

	$("tfoot input").each( function (i) {
		asInitVals[i] = this.value;
	} );
	
	$("tfoot input").focus( function () {
		if ( this.className == "search_init" )
		{
			this.className = "";
			this.value = "";
		}
	} );
	
	$("tfoot input").blur( function (i) {
		if ( this.value == "" )
		{
			this.className = "search_init";
			this.value = asInitVals[$("tfoot input").index(this)];
		}
	} );

} );
</script>
