<ul id="userInfo">
	<li <%= (current_page?(:controller => 'dashboard')) ? 'class="activenav"' : '' %> ><%= link_to "Dashboard", {:controller => "dashboard", :action => "index"}, :class => "t1" %></li>
	<li <%= (current_page?(:controller => 'encounters', :action => 'new')) ? 'class="activenav"' : '' %> ><%= link_to "New Encounter", new_encounter_path, :class => "t1" %></li>
	<li <%= (current_page?(:controller => 'encounters', :action => 'index')) ? 'class="activenav"' : '' %> ><%= link_to "List Encounters", encounters_path, :class => "t1" %></li>
	<li <%= (current_page?(:controller => 'resources', :action => 'index')) ? 'class="activenav"' : '' %> ><%= link_to "All Resources", resources_path, :class => "t1" %></li>
	<li <%= (current_page?(:controller => 'feedbacks', :action => 'new')) ? 'class="activenav"' : '' %> ><%= link_to "Give us feedback", new_feedback_path, :class => "t1" %></li>
	<li style="float: right;" ><a href="https://weblogin.umich.edu/cgi-bin/logout" class="t1">Logout</a></li>
</ul>
