<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title><%= controller.controller_name.humanize + ': ' + controller.action_name.humanize %></title>
		
		<%= stylesheet_link_tag "reset-fonts-grids", :cache => false %>
		<%= stylesheet_link_tag "jquery-ui-1.8.1.custom/themes/custom-theme/jquery-ui-1.8.1.custom", :cache => false %>
		<%= stylesheet_link_tag 'styles', :cache => false %>
		<%= stylesheet_link_tag 'scaffold' %>
		<%= stylesheet_link_tag "token-input", :cache => false %>
		<%= stylesheet_link_tag "/javascripts/dataTables/css/demo_table_jui.css", :cache => false %>
		<%= stylesheet_link_tag "/javascripts/dataTables/media/css/TableTools.css", :cache => false %>
		<%= stylesheet_link_tag "autoSuggest", :cache => false %>
		
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<%= javascript_include_tag "jquery-1.4.2.min","jquery-ui-1.8.1.custom.min","jquery.tokeninput","application","dataTables/js/jquery.dataTables.min","dataTables/media/ZeroClipboard/ZeroClipboard","dataTables/media/js/TableTools.min","autoresize.jquery.min","jquery.autoSuggest.minified","jquery.color","jquery.validate.min","jquery.form", :cache => "all" %>
		
		<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
		
		<%= render :partial => 'layouts/ga.js.erb' %>
	</head>
	<body>
		<div id="doc3">
			<!-- start header -->
			<div id="hd" class="bg1">
				<ul id="userInfo">
					<li class="b2"><%= @user.fullname %> (<%= @user.primary_role %>)</li>
					<li class="b2">Academic Year: <%= @user.academic_year %></li>
					<li class="b2">Period: <%= @user.current_period %></li>
					<li class="b2">Clerkship: <%= @user.current_clerkship %></li>
					<li class="b2"><%= DateTime.now.strftime("%m/%d/%Y %I:%M%p") %></li>
					<li class="b2" style="float: right;" >version: <%= VERSION_NUMBER %></li>
				</ul>
			</div>
			<div id="hd" class="ui-corner-bl ui-corner-br bg2">
				<%= render @user.primary_role == "Student" ? 'layouts/topmenu_student' : 'layouts/topmenu_others' %>
			</div>
			<!-- end header -->
			<div id="bd">
				<div id="yui-main">
					<div class="yui-b">
						<!-- main content -->
						<p style="color: green; padding-top: 10px"><%= flash[:notice] %></p>
						<%= yield %>
						<!-- end main content -->
					</div>
				</div>
			</div>
			<div id="ft">
				<!-- start footer -->
				<!-- end footer -->				
			</div>
		</div>
	</body>
</html>
