<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title><%= controller.controller_name.humanize + ': ' + controller.action_name.humanize %></title>
		
		<%= stylesheet_link_tag "reset-fonts-grids", :cache => true %>
		<%= stylesheet_link_tag "jquery-ui-1.8.1.custom/themes/custom-theme/jquery-ui-1.8.1.custom", :cache => true %>
		<%= stylesheet_link_tag 'styles', :cache => false %>
		<%= stylesheet_link_tag 'scaffold' %>
		<%= stylesheet_link_tag "token-input", :cache => true %>
		<link href="/javascripts/dataTables/css/demo_table_jui.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/javascripts/dataTables/media/css/TableTools.css" media="screen" rel="stylesheet" type="text/css" />
		<%= stylesheet_link_tag "autoSuggest", :cache => true %>
	
		<%= javascript_include_tag "jquery-1.4.2.min", :cache => true %>
		<%= javascript_include_tag "jquery-ui-1.8.1.custom.min", :cache => true %>
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<%= javascript_include_tag "jquery.tokeninput", :cache => true %>
		<%= javascript_include_tag "application", :cache => false %>
		<%= javascript_include_tag "dataTables/js/jquery.dataTables.min", :cache => true %>
		<%= javascript_include_tag "dataTables/media/ZeroClipboard/ZeroClipboard", :cache => true %>
		<%= javascript_include_tag "dataTables/media/js/TableTools.min", :cache => true %>
		<%= javascript_include_tag "autoresize.jquery.min", :cache => true %>
		<%= javascript_include_tag "jquery.autoSuggest.minified", :cache => true %>
		<%= javascript_include_tag "jquery.color", :cache => true %>
		<%= javascript_include_tag "jquery.validate.min", :cache => true %>
		<%= javascript_include_tag "jquery.form", :cache => true %>
		
	</head>
	<body>
		<div id="doc3">
			<!-- start header -->
			<div id="hd" class="bg1">
				<ul id="userInfo">
					<li class="b2"><%= @user.fullname %></li>
					<li class="b2"><%= @user.academic_year %></li>
					<li class="b2"><%= @user.current_period %></li>
					<li class="b2">Current Clerkship: <%= @user.current_clerkship %></li>
					<li class="b2"><%= DateTime.now.strftime("%m/%d/%Y %I:%M%p") %></li>
				</ul>
			</div>
			<div id="hd" class="ui-corner-bl ui-corner-br bg2">
				<ul id="userInfo">
					<li><%= link_to "Dashboard", {:controller => "dashboard", :action => "index"}, :class => "t1" %></li>
					<li><%= link_to "New Encounter", new_encounter_path, :class => "t1" %></li>
					<li><%= link_to "List Encounters", encounters_path, :class => "t1" %></li>
					<li><%= link_to "All Resources", resources_path, :class => "t1" %></li>
					<li><%= link_to "Give us feedback", feedbacks_path, :class => "t1" %></li>
					<li style="float: right;" ><a href="https://weblogin.umich.edu/cgi-bin/logout" class="t1">Logout</a></li>
				</ul>
			</div>
			<!-- end header -->
			<div id="bd">
				<div id="yui-main">
					<div class="yui-b">
						<!-- main content -->
						<p style="color: green; padding-top: 10px"><%= flash[:notice] %></p>
						<%= yield %>
						<!-- end main content -->
					</div>
				</div>
			</div>
			<div id="ft">
				<!-- start footer -->
				<!-- end footer -->				
			</div>
		</div>
	</body>
</html>
